/* Main CSS for default Template */

body {
    background-color: rgb(218, 217, 38);
    color: #343a3f;
}

.pos-f-t {
    background-color: #343a3f;
}

.navbar-toggler {
    border-color:rgb(218, 217, 38);
}

main {
    height: 1500px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a3f;
    text-align: center;
    height: 200px;
}

.footer-break {
    color: white;
    width:80%;
    margin-left: 10%;
}

.fa-brands, .fab {
    font-size: xx-large;
    padding: 10px;
    color:rgb(218, 217, 38);
}

.copyright {
    color: rgb(218, 217, 38);
    text-decoration: none;
    font-size: 24px;
}

.copyright:hover {
    color: white;
}

/* CSS for cards */

.card {
    background-color: #343a3f;
}

.card-cut {
    background-color: #343a3f;
    height: 200px;
    border-radius: 1%;
}

.card-text {
    text-align: center;
    float: auto;
    color:white;
    text-decoration: none;
}

.card-text:hover {
    color: rgb(218, 217, 38);
}

.cut-text {
    text-align: center;
    float: auto;
    color:white;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 10px;
}

.roll-text {
    text-align: center;
    float: auto;
    color:white;
    text-decoration: none;
}

/* CSS for buttons */

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 0.25rem;
}

.delete, .edit {
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #343a3f;
    border:rgb(218, 217, 38) 1px solid;
    color:rgb(218, 217, 38);
}

.add {
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #343a3f;
    border:rgb(218, 217, 38) 1px solid;
    color:rgb(218, 217, 38);
    justify-content: center;
    align-items: center;
}

.delete:hover, .edit:hover, .add:hover {
    background-color: rgb(218, 217, 38);
    border:rgb(218, 217, 38) 1px solid;
    color: white;
}

.main-button {
    background-color: #343a3f;
    border:white 1px solid;
    color:white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-button:hover {
    background-color: white;
    border:white 1px solid;
    color: #343a3f;
}

.cut {
    background-color: rgb(218, 217, 38);
}

.cut:hover {
    background-color: white;
    border-color: #343a3f;
    color: #343a3f;
}
