{% extends "base.html" %}

{% block content %}

<!-- Only signed in user can action -->
{% if user.is_authenticated %}
<div class="container-fluid">
    <div class="row">
        <!-- Cut List -->
        <div class="col-12 mt-3 left">
            <div class="row">
                <!-- Cycles through the cuts and displays each one -->
                {% for cuts in cuts %}
                <div class="col-md-4">
                    <div class="card-cut mb-4">
                        <div class="card-body">
                            <div>
                                <!-- Display Cut information -->
                                <span class="cut-text">Invoice: {{ cuts.invoice }}</span>
                                <br>
                                <span class="cut-text">Cut Size: {{ cuts.cut_size }}</span>
                                <br>
                                    <!-- If cuts is True, shows as cut and who marked it and when -->
                                    {% if cuts.cuts == True %}
                                    <span class="cut-text">Cut: Cut Done</span>
                                    <br>
                                    <span class="cut-text">Date of cut: {{ cuts.date_cut|date:"d M y" }} by {{ cuts.cut_by }}</span>
                                    {% else %}
                                    <!-- Shows that the cut is still to be done -->
                                    <span class="cut-text">Cut: To Be Cut</span>
                                    <!-- Actions a Marked cut and updates date and cut by -->
                                    <a href="/toggle/{{ cuts.id }}">
                                        <button class="cut">Cut?</button>
                                    </a>
                                    {% endif %}
                                <span class="buttons">
                                    <!-- Delete and Edit buttons, warning message displays for delete -->
                                    <a class='confirm-delete' href="/delete_cut/{{ cuts.id }}">
                                        <button class="delete">Delete</button>
                                    </a>
                                    <a href="/edit_cut/{{ cuts.id }}">
                                        <button class="edit">Edit</button>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
    <!-- Allows the user to add a new cut -->
    <div class="container">
        <div class="center">
            <a href="/addcut">
                <button class="main-button">ADD CUT</button>
            </a>
        </div>
    </div>
</div>
<br>
<div class="col-12 mt-3 center">
    <div class="div col-md-6">
        <span>
            <p class="info">This page shows all allocated Cuts. Each Cut will show the Customer's Invoice, Size and to be Cut(set as default).
            Once it has been cut, user will click the 'Cut?' Button, this will mark the cut as done, as well as record the date of the Cut
            and the user who has made the cut.
            If a Cut is to be allocated, please add to the system with the 'ADD CUT' button.</p>
        </span>
    </div>
</div>
{% endif %}

{% endblock content %}