{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- Cut List -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for cuts in cuts %}
                <div class="col-md-4">
                    <div class="card-cut mb-4">
                        <div class="card-body">
                            <div>
                                <!-- Display Cut information -->
                                <span class="cut-text">Invoice: {{ cuts.invoice }}</span>
                                <br>
                                <span class="cut-text">Cut Size: {{ cuts.cut_size }}</span>
                                <br>
                                <!-- Only signed in user can action -->
                                {% if user.is_authenticated %}
                                    {% if cuts.cuts == True %}
                                    <span class="cut-text">Cut: Cut Done</span>
                                    <br>
                                    <span class="cut-text">Date of cut: {{ cuts.date_cut|date:"d M y" }} by {{ cuts.cut_by }}</span>
                                    {% else %}
                                    <span class="cut-text">Cut: To Be Cut</span>
                                    <!-- Actions a Marked cut and updates date and cut by -->
                                    <a href="/toggle/{{ cuts.id }}">
                                        <button class="cut">Cut?</button>
                                    </a>
                                    {% endif %}
                                <span class="buttons">
                                    <a href="/delete_cut/{{ cuts.id }}">
                                        <button class="delete">Delete</button>
                                    </a>
                                    <a href="/edit_cut/{{ cuts.id }}">
                                        <button class="edit">Edit</button>
                                    </a>
                                </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
    {% if user.is_authenticated %}
    <div class="container">
        <div class="center">
            <a href="/addcut">
                <button class="main-button">ADD CUT</button>
            </a>
        </div>
    </div>
    {% endif %}
    <br>
    <span class="roll-text">Roll Balance left after cuts: {{ balance }}m left </span>
                            <!-- Updates Roll Balance by taking Roll size and taking away sum of cut sizes -->
                            <a href="/calc/{{ cuts.id }}">
                                <button class="cut">Roll Balance</button>
                            </a>
</div>

{% endblock content %}