{% extends "base.html" %}

{% block content %}

<!-- Only signed in user can see -->
{% if user.is_authenticated %}
<div class="container-fluid">
    <div class="row">
        <!-- Range List -->
        <div class="col-12 mt-3 left">
            <div class="row">
                <!-- Cycles through the ranges and display information for each -->
                {% for ranges in ranges %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <!-- Displays Range information -->
                            <a href="/get_rolls/{{ ranges.id }}">
                                <h2 class="card-text">{{ ranges.ranges }}</h2>
                            </a>
                        </div>
                        <div>
                            <!-- Delete and Edit buttons, delete displays warning -->
                            <span class="buttons">
                                <a class='confirm-delete delete' href="/delete_range/{{ ranges.id }}">
                                    Delete
                                </a>
                                <a class="edit" href="/edit_range/{{ ranges.id }}">
                                    Edit
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
    <!-- Allows the user to add a new range -->
    <div class="container">
        <div class="center">
            <a class="main-button" href="/add_range">
                ADD RANGE
            </a>
        </div>
    </div>
</div>
<br>
<div class="col-12 mt-3 center">
    <div class="div col-md-6">
        <p class="info">This page shows all available Ranges. Click on the Range's name to show Rolls available.                    
        If the Range is not showing, please add to the system with the 'ADD RANGE' button.</p>
    </div>
</div>
{% endif %}

{% endblock content %}