{% extends "base.html" %}

{% block content %}

<!-- Only signed in user can see -->
{% if user.is_authenticated %}
<div class="container-fluid">
    <div class="row">
        <!-- Roll List -->
        <div class="col-12 mt-3 left">
            <div class="row">
                <!-- Cycles through the rolls and displays all information -->
                {% for rolls in rolls %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <!-- Directs to cut page -->
                            <a href="/getcuts/{{ rolls.id }}">
                                <!-- Displays Roll information -->
                                <h2 class="roll-text">{{ rolls.rolls }} {{ rolls.roll_width }}</h2>
                            </a>
                            <span class="roll-text">Roll Size: {{ rolls.roll_size }}</span>
                            <br>
                            <span class="roll-text">Warehouse Location: {{ rolls.location }}</span>
                            <br>
                            {% if rolls.roll_balance is null %}
                            <!-- If no cuts have been allocated, will return roll size until a cut has been allocated -->
                            <span class="roll-text">Roll Balance left after cuts: {{ rolls.roll_size }}m left </span>
                            <!-- Updates Roll Balance by taking Roll size and taking away sum of cut sizes -->
                            <a class="cut" href="/calc/{{ rolls.id }}">
                                Roll Balance
                            </a>
                            {% else %}
                            <span class="roll-text">Roll Balance left after cuts: {{ rolls.roll_balance }}m left </span>
                            <!-- Updates Roll Balance by taking Roll size and taking away sum of cut sizes -->
                            <a class="cut" href="/calc/{{ rolls.id }}">
                                Roll Balance
                            </a>
                            {% endif %}
                        </div>
                        <div>
                            <!-- Delete and Edit buttons, delete displays a warning -->
                            <span class="buttons">
                                <a class='confirm-delete delete' href="/delete_roll/{{ rolls.id }}">
                                    Delete
                                </a>
                                <a class="edit" href="/edit_roll/{{ rolls.id }}">
                                    Edit
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
    <!-- Allows the user to add new rolls -->
    <div class="container">
        <div class="center">
            <a class="main-button" href="/addroll">
                ADD ROLL
            </a>
        </div>
    </div>
</div>
<br>
<div class="col-12 mt-3 center">
    <div class="div col-md-6">
        <p class="info">This page shows all available Rolls. Click on the Roll's name to show Cuts that have been allocated.
        Each Roll will show its Width, Size and Warehouse Location, as well as remaining balance from the Cuts that have been allocated.
        Please remember, once a Cut has been allocated to recalculate the Roll Balance.
        If the Roll is not showing, please add to the system with the 'ADD ROLL' button.</p>
    </div>
</div>
{% endif %}

{% endblock content %}