{% extends "base.html" %}

{% block content %}

<!-- Only signed in users can action -->
{% if user.is_authenticated %}
<div class="container-fluid">
    <div class="row">
        <!-- Supplier List -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for suppliers in suppliers %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <!-- Display Supplier information -->
                            <a href="/get_ranges/{{ suppliers.id }}">
                                <h2 class="card-text">{{ suppliers.supplier }}</h2>
                            </a>
                        </div>
                        <div>
                            <!-- Delete and Edit buttons, delete displays a warning-->
                            <span class="buttons">
                                <a class='confirm-delete delete' href="/delete_supplier/{{ suppliers.id }}">
                                    Delete
                                </a>
                                <a class="edit" href="/edit_supplier/{{ suppliers.id }}">
                                    Edit
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
    <!-- Allows the user to add new supplier -->
    <div class="container">
        <div class="center">
            <a class='add main-button' href="/add_supplier">
                ADD SUPPLIER
            </a>
        </div>
    </div>
    <br>
    <div class="col-12 mt-3 center">
        <div class="div col-md-6">
            <span>
                <p class="info">This page shows all available Suppliers. Click on the Supplier's name to show Ranges available.                    
                If the Supplier is not showing, please add to the system with the 'ADD SUPPLIER' button.</p>
            </span>
        </div>
    </div>
</div>
<!-- Shows when user is not logged in -->
{% else %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 center">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-12">
                        <div class="card-body">
                            <h2 class="cut-text">Quedgeley Carpets Cuts</h2>
                        </div>
                        <div>
                            <p class="cut-text">Please sign in or register for access.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}